// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    list-style: none;
    margin-bottom: 25px;
    min-height: 140px;
    .actions {
      position: absolute;
      right: 0;
    }
  }
}

.actions.btn-group-vertical {
  position: absolute;
  right: 0;
  a {
    text-align: right;
  }
}

.description {
  padding-top: 24px;
}
