<div class='container'>
  <div class='row'>
    <div class='col-md-9'>
      <h1>Котик <%= @product.name %></h1>

      <%= image_tag @product.photo.url(:medium) %>

      <div class='description'>
        <%= @product.description %> 
      </div>
    </div>

    <div class="col-md-3 text-right">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>

